service: scoreplus-back

provider:
  name: aws
  region: us-east-1
  runtime: nodejs20.x
  stage: stage
  environment:
    AWS_REGION: us-east-1
    WORKSPACE: sdx
    AUTH_ES256_PRIVATE_KEY: ${ssm:/sdx/auth-key/ecdsa/private}
    DATAVALID_ENDPOINT: https://gateway.apiserpro.serpro.gov.br/datavalid/v3
    DYNAMO_TABLE_ANALYSISPLUS_PEOPLE: analysisplus-people-sdx
    DYNAMO_TABLE_ANALYSISPLUS_VEHICLES: analysisplus-vehicles-sdx
    DYNAMO_TABLE_REQUESTPLUS_ANALYSIS_PERSON: requestplus-analysis-person-sdx
    DYNAMO_TABLE_REQUESTPLUS_ANALYSIS_VEHICLE: requestplus-analysis-vehicle-sdx
    DYNAMO_TABLE_REQUESTPLUS_COMPANY_CONSULT: requestplus-company-consult-sdx
    DYNAMO_TABLE_REQUESTPLUS_FINISHED_ANALYSIS_PERSON: requestplus-finished-analysis-person-sdx
    DYNAMO_TABLE_REQUESTPLUS_FINISHED_ANALYSIS_VEHICLE: requestplus-finished-analysis-vehicle-sdx
    DYNAMO_TABLE_REQUESTPLUS_VALIDATE_ANALYSIS_PERSON: requestplus-validate-analysis-person-sdx
    DYNAMO_TABLE_REQUESTPLUS_VALIDATE_ANALYSIS_VEHICLE: requestplus-validate-analysis-vehicle-sdx
    DYNAMO_TABLE_USERPLUS_ACCESS_TOKEN: userplus-access-token-sdx
    DYNAMO_TABLE_USERPLUS_COMPANY: userplus-company-sdx
    DYNAMO_TABLE_USERPLUS_PASSWORD_HISTORY: userplus-password-history-sdx
    DYNAMO_TABLE_USERPLUS_RECOVERY_PASSWORD: userplus-recovery-password-sdx
    DYNAMO_TABLE_USERPLUS_USER: userplus-users-sdx
    M2SYSTEM_REQUEST_ENDPOINT: ${ssm:/sdx/m2system/request/endpoint}
    M2SYSTEM_USER_ENDPOINT: ${ssm:/sdx/m2system/user/endpoint}
    M2SYSTEM_USER_LOGIN_EMAIL: ${ssm:/sdx/m2system/user/login/email}
    M2SYSTEM_USER_LOGIN_PASSWORD: ${ssm:/sdx/m2system/user/login/password}
    S3_BUCKET_REQUESTPLUS_ANALYSIS_PERSON_BIOMETRY: requestplus-analysis-person-biometry-sdx
    S3_THIRD_PARTY_ANSWER: requestplus-third-party-analysis-sdx
    SCOREPLUS_DATAVALID_USER_ACCOUNT: ${ssm:/sdx/lambda/worker/datavalid/user}
    SCOREPLUS_DATAVALID_USER_PASSWORD: ${ssm:/sdx/lambda/worker/datavalid/password}
    SCOREPLUS_EMAIL: sdx.no-reply@systemscoreplus.com.br
    SCOREPLUS_REQUESTPLUS_URL: https://request.api.systemscoreplus.com.br
    SCOREPLUS_USERPLUS_URL: https://user.api.systemscoreplus.com.br
    SERPRO_CONSUMER_KEY: ${ssm:/sdx/serpro-consumer-key}
    SERPRO_CONSUMER_SECRET: ${ssm:/sdx/serpro-consumer-secret}
    SERPRO_ENDPOINT: https://gateway.apiserpro.serpro.gov.br
    SNS_REQUESTPLUS_THIRD_PARTY_WORKERS_ARN: arn:aws:sns:us-east-1:011528291947:requestplus-third-party-workers
    SQS_DATAVALID_FACIAL: https://sqs.us-east-1.amazonaws.com/011528291947/requestplus-pf-facial-biometry-sdx.fifo
    STAGE: local
    USER_RECOVERY_KEY_URL: https://user.api.systemscoreplus.com.br/reset-password


package:
  individually: false

plugins:
  - serverless-esbuild
  - serverless-offline-local-authorizers-plugin
  - serverless-offline

custom:
  esbuild:
    sourcemap: true
    watch:
      pattern: 'src/**/*'
    external:
      - vm2

  serverless-offline:
    noPrependStageInUrl: true

functions:
  auth:
    handler: src/auth/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /auth

  userplus-login:
    handler: src/controllers/userplus/login/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /login

  userplus-register-user:
    handler: src/controllers/userplus/register/user/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /register/user
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  userplus-register-company:
    handler: src/controllers/userplus/register/company/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /register/company
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  userplus-change-password:
    handler: src/controllers/userplus/change-password/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /change-password
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  userplus-company:
    handler: src/controllers/userplus/my-company/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /my-company

  userplus-recovery-password:
    handler: src/controllers/userplus/recovery-password/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /recovery-password
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  userplus-reset-password:
    handler: src/controllers/userplus/reset-password/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /reset-password
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  userplus-list-companies:
    handler: src/controllers/userplus/list-companies/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /companies
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-analysis-person-default:
    handler: src/controllers/requestplus/send-request-analysis/person/default/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /analysis/person

  requestplus-analysis-person-biometry-basic:
    handler: src/controllers/requestplus/send-request-analysis/person/biometry/basic/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /binary/analysis/person/biometry/basic

  requestplus-analysis-person-biometry-cnh:
    handler: src/controllers/requestplus/send-request-analysis/person/biometry/cnh/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /binary/analysis/person/biometry/cnh

  requestplus-analysis-person-biometry-facial:
    handler: src/controllers/requestplus/send-request-analysis/person/biometry/facial/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /binary/analysis/person/biometry/facial

  requestplus-analysis-combo:
    handler: src/controllers/requestplus/send-request-analysis/combo/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /analysis/combo

  requestplus-analysis-vehicle:
    handler: src/controllers/requestplus/send-request-analysis/vehicle/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /analysis/vehicle

  requestplus-list-people:
    handler: src/controllers/requestplus/consult/analysis/list-people/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /analysis/people
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-list-vehicles:
    handler: src/controllers/requestplus/consult/analysis/list-vehicles/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /analysis/vehicles
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-get-person:
    handler: src/controllers/requestplus/consult/analysis/get-person/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /analysis/person/{person_id}
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-get-vehicle:
    handler: src/controllers/requestplus/consult/analysis/get-vehicle/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /analysis/vehicle/{vehicle_id}
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-query-person-by-document:
    handler: src/controllers/requestplus/consult/analysis/query-person-by-document/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /analysis/person
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-query-vehicle-by-plate:
    handler: src/controllers/requestplus/consult/analysis/query-vehicle-by-plate/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /analysis/vehicle
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-answer-person:
    handler: src/controllers/requestplus/send-answer/person/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /analysis/person/{person_id}/answer
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-answer-vehicle:
    handler: src/controllers/requestplus/send-answer/vehicle/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /analysis/vehicle/{vehicle_id}/answer
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  requestplus-release-extract-person:
    handler: src/controllers/requestplus/release-extract/person/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /binary/release-extract/person

  requestplus-release-extract-vehicle:
    handler: src/controllers/requestplus/release-extract/vehicle/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /binary/release-extract/vehicle

  requestplus-release-extract-combo:
    handler: src/controllers/requestplus/release-extract/combo/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /binary/release-extract/combo

  reportplus-generate-analysis-person:
    handler: src/controllers/reportplus/generate-analysis/person/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /report/analysis/person
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  reportplus-generate-analysis-vehicle:
    handler: src/controllers/reportplus/generate-analysis/vehicle/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: /report/analysis/vehicle
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  reportplus-company-consult:
    handler: src/controllers/reportplus/company-consult/index.handler
    timeout: 600
    events:
      - http:
          method: get
          path: /report/company-consult
          authorizer:
            type: CUSTOM
            authorizerId: abcjfk
          localAuthorizer:
            name: "mylocalAuthProxyFn"
            type: "request"

  worker-datavalid-pf-basic:
    handler: src/workers/datavalid/pf-basic/index.handle

  worker-datavalid-pf-facial:
    handler: src/workers/datavalid/pf-facial/index.handler
    timeout: 600
    events:
      - http:
          method: post
          path: workers/datavalid/pf-facial

  worker-datavalid-pf-facial-cdv:
    handler: src/workers/datavalid/pf-facial-cdv/index.handler

  # worker-datavalid-verify-result-pf-basic:
  #   handler: src/workers/datavalid/verify-result/pf-basic/index.handler

  # worker-datavalid-verify-result-pf-facial:
  #   handler: src/workers/datavalid/verify-result/pf-facial/index.handler

  # worker-datavalid-verify-result-pf-facial-cdv:
  #   handler: src/workers/datavalid/verify-result/pf-facial-cdv/index.handler
